@import "variables";

.main-section {
    display: grid;
    grid-template-columns: 3vw 25vw 2vw 66vw 4vw;
    grid-template-rows: 5vh 30vh 22vh 38vh 5vh;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}